html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
.card-login
{
    width:780px;
    height:370px;
    margin-top:110px;
}
.titre
{
    color:white;
    margin-top:100px;
    font-size:60px;
    font-weight:bold;
    font-family:Cursive;
}

.champs1
{
  width:350px;
  display: inline;
   margin-left:40px;
}
.champs
{
    width:350px;
    display: inline;
    margin-left:15px;
}
.checkbox
{
            margin-left:260px;
}
.soumis
{
            margin-left:260px;
}
.tete
{
    height: 60px;
}
.titresect
{
    padding:5px;
    border-bottom: 5px solid black;
    width: 2000px;
    text-align: left;
}
.contenu
{
    background-color:cornflowerblue;
    padding:6px;
}
.troiscol
{
    width: 400px;
}
.filtre
{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: large;
    font-weight:bold;
}
.lefiltre
{
    margin-left: 80px;
}
.mescols
{
    height: 100px;
}

.table-wrapper{
    overflow-x: auto;
    border: 1px solid black;
}
.table-wrapper table{
    border: 0;
}
.table-wrapper tbody>tr:first-child>*{
    border-top: 0;
}
.table-wrapper th{
    border: 1px solid black;
    padding: 8px 12px;
}
table
{
    width: 100%;
    border-collapse: collapse;

}
tbody{
    display: table-row-group;
    vertical-align: middle;
}
.separation{
    border-bottom: 3px solid black;
}
